[2016-05-24 12:19] ofgulban opened #1 "Input scaling"
Data inputs should automatically be scaled to be around 0-500. Mainly for faster interface and volume histogram contrast.

[2016-05-25 10:17] ofgulban opened #2 "Cycle view button problem"
Cycle view button is not functioning as intended.

[2016-05-25 10:34] ofgulban opened #3 "Image browser color tweaks"
Transparency can be adjusted for the non-masked image regions to get rid of the washed out feeling.

[2016-05-25 10:47] ofgulban opened #4 "Volume histogram mask controls"
Inkscape style hold and drag nodes for circle/wedge on volume histogram plot for radius, theta min/max parameters can provide more intuitive controls:
![screenshot from 2016-05-25 12-45-43](https://cloud.githubusercontent.com/assets/4668327/15537437/aa24b88e-2276-11e6-908e-59a715068e1a.png)

[2016-05-25 10:54] ofgulban opened #5 "Custom sector_mask or matplotlib.patches.wedge?"
Which one is a better solution to determine volume histogram mask and to make the transition to image space?

[sector_mask.py](https://github.com/ofgulban/segmentator/blob/devel/sector_mask.py) or [matplotlib.patches.wedge](http://matplotlib.org/api/patches_api.html)

[2016-05-25 12:34] ofgulban opened #6 "Event history, undo, redo, save, load"
We need these functions at some point in the future. The problem is I don't know to do these properly for now. Any suggestions?

[2016-05-27 18:21] #2 closed, assigned to ofgulban

[2016-05-27 18:25] #1 closed, assigned to nobody

[2016-06-02 19:02] MSchnei opened #7 "Data probe is unprecise (v1.1.0)"
Data probe seems to be off by some pixels.
Check conversions: from pixel coordinates to linear indices, from imaMask to volHistMask

[2016-06-03 17:38] ofgulban opened #8 "Sector mask problem (v1.0.0)"
Sector mask dimensions should be cross checked with number of bins in the histogram.

[2016-06-04 13:18] #8 closed, assigned to ofgulban, MSchnei

[2016-06-04 13:20] #7 closed, assigned to MSchnei

[2016-07-25 12:16] ingo-m opened #9 "coronal view"
Bug in segmentator-devel-marian:

When looping through the different volume views (axial, sagittal, coronal) with the "cycle view" button, the coronal view is not displayed (the previews view stays on the screen). When using the slider then, the coronal view is displayed.

Dataset:

/Uitwisseling/ParCon/20151130_02/20150930_02_T1.nii.gz

Error message (which appears after clicking the "cycle view"

[2016-07-25 12:19] ingo-m opened #10 "display error after nii export"
Bug in segmentator-devel-marian:

When using the lasso again after exporting an nii file, the selection in the volume view is corrupted (see screenshot).

![err](https://cloud.githubusercontent.com/assets/10960892/17101083/cbcb9b7a-5272-11e6-89b8-ad29cdff52ed.png)

[2016-08-04 15:52] ofgulban opened #11 "Normalized cut segmentation on 2D volume histogram."
It seems segmentation on volume histograms is a useful method to get tissue classifications. Scikit-image has an implementation of normalized cuts for image segmentation so I will experiment with this.
It looks quite straightforward from [their example code](http://scikit-image.org/docs/dev/auto_examples/segmentation/plot_ncut.html).

**Reference:**
_Ip, C. Y., Varshney, A., & Jaja, J. (2012). Hie

[2016-08-05 13:55] ofgulban commented on #11
I have found a helpful [video](https://www.youtube.com/watch?v=Lyb97Po2_1g) from the author. This can be an alternative way to do exploration on volume histograms.

[2016-08-12 16:46] MSchnei commented on #9
This (probably) results from the fact that for the data that you were using there were only very few coronal slices. Problematically, the slice number was not updated flexibly as to always be in the middle of the slices after clicking the 'cycle view' button. When trying to access a high slice number (value for slice number is still high from sagittal or transverse view), this will yield too high

[2016-08-12 16:46] #9 closed

[2016-08-25 18:49] MSchnei opened #12 "Deriche filter for gradient calculation (branch: devel-marian)"
@ofgulban: knows what to do.

[2016-08-26 08:00] ofgulban opened #13 "sector mask scaling bug (branch: devel-marian)"
mask is not scaling in different nifti files correctly. See the screenshots:

![screenshot from 2016-08-26 09 56 26](https://cloud.githubusercontent.com/assets/4668327/17998259/b8fe3dda-6b73-11e6-8443-c041c3ab273a.png)
![screenshot from 2016-08-26 09 57 05](https://cloud.githubusercontent.com/assets/4668327/17998261/bae028e8-6b73-11e6-854b-abe0e5ff871c.png)

[2016-08-26 08:01] #3 closed

[2016-08-26 08:06] ofgulban opened #14 "additional load options"
Some load options can be useful, such as:

- load a gradient magnitude image to bypass its calculation.
- load a previous segmentation (acquired via other tools) to be manipulated by adding/subtracting segmentator's labels.

[2016-08-26 08:40] ofgulban opened #15 "additional command line arguments (branch: devel-marian)"
Some input data can be highly preprocessed such as data scaled for a specific range or data type (like uint8). It will be useful to have the following parameters for better volume histogram calculation/visualization:

- [x] percentile min
- [x] percentile max
- [x] scaling factor

control over these variables can change the visualization from this (scaling factor 500):
![screenshot from 2016-08-26

[2016-08-26 08:54] ofgulban commented on #11
I have made some changes in the scikit-image normalized graph cuts (skimage.future.graphs) it seems like it is working for the volume histogram segmentation. The modified version of scikit-image can be found here: https://github.com/ofgulban/scikit-image

[2016-08-29 18:11] ofgulban opened #16 "export volume histogram labels (branch: devel-marian)"
We should be able to export relabeled ncut labels in npy format to later use for probabilistic maps.

[2016-08-29 19:00] MSchnei commented on #16
This feature is now implemented (in devel-marian, for now). Relabeled ncut labels can be exported using the "export labels" button in the lower right corner of the ncut version.

[2016-08-29 19:00] #16 closed

[2016-08-29 19:00] #13 closed

[2016-08-30 15:11] ofgulban commented on #10
@MSchnei does this happen in devel-marian branch?

[2016-09-01 18:49] ofgulban opened #17 "contours for ncut labels visualization (branch devel-marian)"
It seems, it is quite hard distinguish numerically close labels only by looking at their colors. I think it would be better if the visualize ncut labels with black contours (like political maps).

http://colorbrewer2.org/#type=qualitative&scheme=Paired&n=12

[2016-09-02 09:01] MSchnei opened #18 "Ability to make colours transparent and choose particular colors (branch: devel-Marian)"
- [x] Add ability to set colors in the ncut version to transparent.
- [x] Add (for example) radio buttons to add particular colors for labeling segments.

[2016-09-02 09:03] MSchnei opened #19 "Resetting labels for ncut after having set particular colors (branch: devel-Marian)"
After setting your own colors on ncut labels and hitting the reset button there seems to be a problem with updating and colours are only reset (partially) when one clicks on the left figures

[2016-09-02 09:04] MSchnei opened #20 "Histogram normalization"
Research and implement current cutting-edge method for histogram normalization

[2016-09-02 10:00] ofgulban commented on #20
Well we are doing histogram normalization(see the grayscale images section [here](http://www.ipol.im/pub/art/2011/llmps-scb/) ), or do you mean histogram matching?

[2016-09-09 18:02] MSchnei commented on #17
![screenshot from 2016-09-09 20 00 10](https://cloud.githubusercontent.com/assets/15090072/18397387/447c9f96-76c8-11e6-8007-8639e6fdf080.png)

The first implementation, now on

[2016-09-16 13:48] ofgulban commented on #17
This is great. Looks really useful. One issue that needs to be fixed is when the user starts re-labeling the ncut labels, the contours does not merge.
I think it would be more intuitive if the contours merge when the neighboring labels becomes the same.

[2016-09-17 18:04] ofgulban commented on #12
I have implemented 3D Deriche filter however it is slow. For an mri image size 320x320x256 it takes around 15 minutes to calculate the gradients in my workstation.

For this reason, I have added an option to load any gradient magnitude image (actually any image can be loaded but it is intended and tested for gradient magnitute).
___
#### Gradient magnitude images:
np.gradient
<img src="https://clo

[2016-09-21 22:25] ofgulban commented on #19
Fixed. Can you also check and if it is working fine close this issue afterwards.

[2016-09-21 22:27] ofgulban commented on #17
Now the contours are merging/splitting properly after each click.

[2016-09-21 22:32] ofgulban commented on #12
As a workaround for the long computation time, now users can load an already computed gradient magnitude image with "--gramag" flag.

[2016-09-21 22:34] ofgulban commented on #10
@MSchnei did we solve this issue?

[2016-09-21 22:38] ofgulban commented on #11
The pull request can be followed from [this link](https://github.com/scikit-image/scikit-image/pull/2246)

[2016-09-21 22:41] ofgulban commented on #14
--gramag flag is added to load gradient magnitude image.

[2016-09-22 13:59] ofgulban commented on #15
These arguments are now added, closing this issue.

[2016-09-22 13:59] #15 closed

[2016-09-22 14:00] #17 closed

[2016-09-22 14:03] ofgulban commented on #14
I think this one can wait for the next version. I am removing this from v1.1.0 milestones.

[2016-09-22 14:51] ofgulban commented on #10
This bug is now fixed.

[2016-09-22 14:51] #10 closed

[2016-09-22 15:03] ofgulban commented on #18
Label 0 is now transparent in ncut labels.

[2016-09-22 18:41] ofgulban commented on #18
Radio buttons are now added (they look ugly though). They are quite useful for quick re-labeling.

[2016-09-22 19:06] MSchnei opened #21 "norm_graph_cut cmd line option (branch: devel-marian)"
Add ability to call norm_graph_cut from cmd line together with path volHist.npy

[2016-09-22 19:57] MSchnei opened #22 "lasso persistency bug (brach: devel-marian)"
when slider is moved, lasso disappears

[2016-09-22 19:58] MSchnei commented on #19
everything seems to be working. very clear interface now.

[2016-09-22 19:58] #19 closed

[2016-09-22 20:00] MSchnei commented on #18
This is working for now, labels can be set transparent with right mouse button, when radio button 0 or value 0 for slider is selected.

[2016-09-22 20:00] #18 closed

[2016-09-23 13:43] ofgulban commented on #21
normalized graph cuts can be prepared from the command line now.

For details:
```python ncut_prepare.py --help```

[2016-09-23 13:43] #21 closed

[2016-09-23 13:45] ofgulban commented on #22
Fixed. I have also reworked the reset button. Now the reset button only reset the current tool in use.

For example when using sector mask it only resets the sector mask but not the lasso drawings. When using lasso drawing it only resets the drawing but nor the sector mask.

[2016-09-23 13:45] #22 closed

[2016-09-23 13:49] ofgulban commented on #12
The computation time of Deriche filter is greatly reduced by using cython. First time users of this filter should change directory to segmentator folder and run:

```python setup.py build_ext --inplace```

Make sure that you have cython installed (```pip install cython``` or ```conda install cython```)

[2016-09-23 14:01] MSchnei opened #23 "Add right/left button alternative for radius change (branch: devel-marian)"
This will allow mac users to use their keyboard instead of the scrolling button.

[2016-09-23 14:04] MSchnei opened #24 "control button glitch (branch: devel_marian)"
After control button was held (in combination with alt and shift?), the circle mask functionality is impaired. This can be fixed by pressing the ctrl button again. Problem with handling of ctrl state.

[2016-09-23 14:13] MSchnei opened #25 "Check whether file already exists when exporting labels"

[2016-09-23 14:18] MSchnei opened #26 "Lasso tool erase functionality"
When drawing lasso (and for e.g. also press key or other mouse button), then lasso vertices will be removed, not added, to array with persistent  Lasso indices.

[2016-09-23 15:28] MSchnei opened #27 "function to calculate bin counts directly, without clicking (branch: devel-marian)"

[2016-09-23 16:03] MSchnei opened #28 "button to set imaMask to transparent"
on/off switch

[2016-09-23 17:21] MSchnei commented on #28
Button with this functionality is now added.
Position of button is up for discussion.

![imamaskbutton](https://cloud.githubusercontent.com/assets/15090072/18795038/d72b3384-81c2-11e6-98fa-31d34e1314f9.gif)

[2016-09-25 19:28] MSchnei opened #29 "Calculate entropy to guide decision of users for next ncut (branch: devel-marian)"
#### Reference

Ip, C. Y., Varshney, A., & Jaja, J. (2012). Hierarchical exploration of volumes using multilevel segmentation of the intensity-gradient histograms. IEEE Transactions on Visualization and Computer Graphics, 18(12), 2355–2363. http://doi.org/10.1109/TVCG.2012.231

[2016-09-26 10:08] ofgulban commented on #28
Well nothing can look worse than the current radio buttons :D, I think the position of the transparency toggle button is fine.

[2016-09-26 10:12] ofgulban commented on #27
We can put this function into a separate script which can have its own terminal interface and can also be called from segmentator..

[2016-09-26 10:20] ofgulban commented on #24
I have changed the label since this is a minor issue and only causes a temporary problem.

[2016-09-26 14:48] ofgulban commented on #27
2D histogram counts can be computed now without GUI. Run:

```python hist2D_counts.py --help```

[2016-09-26 14:48] #27 closed

[2016-09-26 17:15] MSchnei commented on #28
I also added a slider. This gives much more flexibility. Still i left the button to toggle quickly between high and low transparency. I also added this feature for segmentator main.
@ofgulban: Let me know what you think!

![screenshot from 2016-09-26 19 12 20](https://cloud.githubusercontent.com/assets/15090072/18844445/8b33d5dc-841d-11e6-8729-a3a54d6fcc0e.png)
![screenshot from 2016-09-26 19 12 1

[2016-09-26 17:39] ofgulban opened #30 "Ncut overlay problem (branch: devel-marian)"
When working with low res 2D histogram (for instance with scaling factor 150) the following bug appears:

![animated](https://cloud.githubusercontent.com/assets/4668327/18845184/e6029f2c-8420-11e6-9a3a-f91b1a2baa34.gif)

recognize the shifted border between clicks. In theory this should not happen.

Note: The counts are created with --scale 149 and data is loaded again with the same parameter afte

[2016-09-26 18:01] MSchnei commented on #25
When exporting labels (ExportNii button) and the file name exists already, the labels will be svae dwith new file name (append _1, _2, _3, etc)

[2016-09-26 18:01] #25 closed

[2016-09-26 18:17] MSchnei commented on #23
The sector mask can now also be scaled (radius increase/decrease) by pressing UP and DOWN keys.
The sector mask can be rotated by pressing LEFT and RIGHT keys.

These keys can be used alternatively to the scroll and right button (for scaling the sector mask) or holding ctrl+ clicking scroll and right button (for rotating the sector mask).

I decided against using a,s,d, and w system since pressing

[2016-09-26 18:17] #23 closed

[2016-09-26 19:07] MSchnei commented on #30
It also just creates 3 or 4 subsections, instead of 2. Could the mistake be with the ncut calculation?

![animated](https://cloud.githubusercontent.com/assets/15090072/18848127/4b0b2388-842d-11e6-9c51-c7858dff0e5e.gif)

[2016-09-27 11:58] ofgulban commented on #30
I think this problem is related to the number of superpixels and the compactness parameter of the superpixels used to create the region adjacency graph.

From scikit-image slic function(whcih we use for superpixels) docstring:

        Balances color proximity and space proximity. Higher values give
        more weight to space proximity, making superpixel shapes more
        square/cubic. In SLIC

[2016-09-27 12:38] ofgulban commented on #30
Ok this issue seems solved. Users can tweak compactness and number of super pixels to avoid jumping borders.

[2016-09-27 12:38] #30 closed

[2016-09-27 12:41] ofgulban commented on #11
Ncut seems working, it requires more tests but I think it is good enough for version v1.1.0 as an experimental feature. So I am removing it from the milestones.

[2016-09-27 12:47] ofgulban commented on #12
Although it can be optimized further for faster calculation, implementation of Deriche filter gradient magnitude seems fine.

[2016-09-27 12:47] #12 closed

[2016-09-28 11:56] ofgulban commented on #28
Maybe we should change this button to a key press, what do you think?

[2016-10-04 15:23] MSchnei opened #32 "Save ncut output with number of super pixels and compactness"

[2016-10-10 12:38] MSchnei commented on #28
The button was changed to a key press. Now, when you press 'w' you can toggle opaque and transparent views. by pressing 'e' and 'q' the transparency can be increased/ decreased.

[2016-10-10 12:38] #28 closed

[2016-10-10 12:40] MSchnei opened #33 "Make the toggling of transparency dependent on position of mouse cursor (ncut version)"
when mouse cursor is over right graph, toggle image mask. when mouse cursor is over left graph toggle ncut mask.

[2016-10-12 09:59] ofgulban commented on #33
I guess you are planning to use the same toggle button for both, right? I am not sure that this will be easier than having two separate buttons and not tracking the cursor position.

[2016-10-12 13:00] ofgulban commented on #32
Done. However the names are getting very long, we might consider changing this to sth. else in the future.

[2016-10-12 13:00] #32 closed

[2016-10-13 08:59] ilkayisik opened #34 "The keyboard controls do not work on Mac OS X"
This might be a matplotlib backend issue.

The mouse controls are fine but there is no middle click button on the magic mouse.

[2016-10-13 09:01] ilkayisik opened #35 "Lasso problem on Mac OS X"
Lasso controls are glitchy and cannot be switched off on Mac.
Might be related to matplotlib backend.

[2016-10-13 09:05] ilkayisik opened #36 "Data orientation issue"
Data shows up in unorthodox orientations.
I suggest to assign some buttons to rotate it instead of adding header information.

[2016-10-13 09:11] ilkayisik opened #37 "Stripes in the 2D histogram"
They are appearing because of the default intensity scaling value when the data has an integer range less than 500.
Scaling can be controlled when initialising the segmentator with the argument ```--scale``` but I think it will be good to explain it somewhere. Or you can find a way to automatically adjust for it.

[2016-12-08 16:21] ofgulban commented on #37
I think we can have a wiki page about this issue to explain when to use the ```--scale``` argument.

One example is Brainvoyager's vmr files. Which have even less than uint8 precision. In this format the gray values are only ranged from 0 to 225.
The *stripes* caused by Segmentator's default scaling parameter (500) can be removed by having ```--scale 225``` argument.

I will update this issue once

[2016-12-08 16:23] ofgulban commented on #34
I have no access to apple computers but maybe @MSchnei can have a look.

[2016-12-08 16:26] ofgulban commented on #35
@MSchnei, would you be willing to also check this problem? Whether it occurs for you or not?

[2016-12-08 16:33] MSchnei commented on #35
I just checked and had the same issue. With every arrow press it writes to command line but the wedge does not move. This potentially results from segmentator not considering the figure an active window but I am not sure

[2016-12-08 16:36] MSchnei commented on #34
I just checked and had the same issue. With every arrow press it writes to command line but the wedge does not move. This potentially results from segmentator not considering the figure an active window but I am not sure

[2016-12-08 20:30] virtualmarioe commented on #36
I agree, the buttos can be useful, however, the buttons can also be complete it with labels such as SAG, anterior, superior/ventral etc. These labels can be particularly useful, for example, when someone wants to use anatomical landmarks to guide the inclusion of given structures in the mask.

Additionally, for clarity reasons would be useful to add a title in the right panel, for example, 'Anatom

[2016-12-09 15:01] ofgulban commented on #34
Hmm, we should solve this, since you have an apple laptop I am assigning you :)

[2016-12-09 15:10] ofgulban commented on #36
I am a little hesitant to put orientation labels in the interface because Segmentator can be used not only for brains but for any sort of 3D data (knee, spine, other materials etc.) and in addition due to the extra hassle of reading/displaying the headers in different conventions (radiological/neurological) correctly.

I would prefer to leave setting the data orientation to the user maybe with rot

[2016-12-09 15:17] virtualmarioe commented on #36
Valit point, I was mainly thinking about brain applications although it still aplies to other anatomical structures but not to other materials. Additionally, the point about the implementation is fair. That's something it can be leave to indivual user customizations.

[2016-12-14 00:02] ofgulban opened #38 "additional argument for upper and lower truncation values"
In some cases, it is useful to keep truncation values the same across images. So some additional arguments can be used to override percentile based scaling when specified.

[2017-01-11 11:35] ofgulban opened #39 "Volume histogram regions based on previous segmentations"
I think it might be a good idea to be able to see volume histogram regions labeled from any previous segmentation.

These segmentations can come from other applications, such as FSL-FAST or SPM. For instance white matter would be labeled with 1 and gray matter with 2, CSF with 3 etc. So that we can overlay unique colors to the pixels. These colored overlay on top of volume histograms can be a nice

[2017-01-12 10:24] ingo-m opened #40 "Unable to run segmentator with mp2rage data on debain"
When trying to load a T1 mp2rage image with segmentator (main branch), the following error occurs:

`john@FDPMW2379:~/PhD/GitHub/segmentator$ python segmentator.py /home/john/Desktop/20161205/mp2rage_t1_up.nii.gz`
`Traceback (most recent call last):`
`  File "segmentator.py", line 49, in <module>`
`    import segmentator_main`
`  File "/home/john/PhD/GitHub/segmentator/segmentator_main.py", line 2

[2017-01-12 10:51] MSchnei commented on #40
Faruk,
Could this be related to recent pruning and "cosmetics" activities? Maybe having two doc strings before import division is one too much?

[2017-01-12 11:45] ingo-m commented on #40
Yes but I can't push it.

[2017-01-12 11:57] MSchnei commented on #40
Ok, pull request by @ingo-m  has been accepted and merged. Problem should be fixed now.

[2017-01-12 11:57] #40 closed

[2017-01-12 18:17] ofgulban commented on #40
I didn't know this. Here is a relevant stackoverflow post for future reference:

http://stackoverflow.com/questions/38688504/from-future-imports-must-occur-at-the-beginning-of-the-file-what-defines

[2017-01-26 10:27] ingo-m opened #42 "new matplotlib version"
Due to the new matplotlib version (2.0.0) the layout of segmentator has changed a bit (this is NOT a bug, it works fine - just wanted to give everyone a heads-up). However, I have the impression that the 'sector mask' (or whatever name the pacman/circle selector now has) is moving a bit slower (but I'm not absolutely sure about that - please check yourself).

Happy segmentations

![new_matplotlib]

[2017-01-26 17:34] ofgulban commented on #42
Thanks @ingo-m it is good to know. Another reason to change the matplotlib interface, I think it served its purpose. I was considering [pyqtgraph](http://www.pyqtgraph.org/) for the new interface but probably it will take some time to implement.

In the meanwhile you can use --scale parameter to change the 2D histogram resolution to a lower one (eg. 300 instead of 500) to make the sector mask fast

[2017-01-27 18:02] ofgulban commented on #4
It seems that pyqtgraph might provide the tools to do this. We should check [region of interest widget](http://www.pyqtgraph.org/documentation/graphicsItems/roi.html).

[2017-07-11 10:42] ofgulban commented on #37
The wiki page is ready:
https://github.com/ofgulban/segmentator/wiki/Case-III%3A-Freesurfer

[2017-07-11 10:42] #37 closed

[2017-07-11 10:47] ofgulban commented on #5
We are still using the sector mask, so I think this issue is not relevant anymore.

[2017-07-11 10:47] #5 closed

[2017-07-11 10:49] ofgulban commented on #20
I think this is out of our scope. Histogram normalization can be done before segmentator.

[2017-07-11 10:49] #20 closed

[2017-07-12 09:02] ofgulban opened #43 "Go to brightest slice"
It seems that the interface might also be useful for people exploring scatter plots (2 values per voxel). One suggestion is to add 'go to brightest slice' button for convenience.

[2017-07-12 09:19] ofgulban opened #44 "histogram coloring corresponding to spatial location"
Grey scale histogram map might be colored (optional) corresponding to spatial location of the voxels. For example anterior-posterior:
![image10](https://user-images.githubusercontent.com/4668327/28110465-d4747b4e-66f2-11e7-9d07-3814a2cbcb59.png)
(this example is from pymvpa, scatterplot output)

Although I think there are some complications determining the 2D histogram bin colors. We are not using

[2017-07-12 09:28] ofgulban opened #45 "Unit tests integration"
We need to start writing [unit tests](https://en.wikipedia.org/wiki/Unit_testing). See [pytest examples](https://docs.pytest.org/en/latest/).

Although it is not clear for me how to test the interface.

[2017-07-12 09:31] ofgulban commented on #29
@MSchnei  any plans on this? I think your branch exploring this feature is quite outdated now.

[2017-07-12 09:33] ofgulban commented on #34
@MSchnei @ingo-m did we solve this? I remember you were looking into it at some point/

[2017-07-12 09:35] ofgulban commented on #33
@MSchnei should we close this issue?

[2017-07-12 09:36] ofgulban commented on #35
@MSchnei @ingo-m any updates on this? Is the problem still there?

[2017-07-12 10:05] ofgulban opened #46 "Axis values"
The original values in the data and our axis labels are not matching because we are using the bin indices. Representation of original values instead of histogram bins can be more useful.

[2017-07-12 10:44] MSchnei commented on #29
Yes, the branch is outdated, although I would not delete it yet since it contains code that can be used if we want to implement entropy-guided decisions. I have no immediate plans for implementation.

[2017-07-12 10:46] MSchnei commented on #34
No, this is not solved.

[2017-07-12 10:49] ingo-m commented on #34
I first though this would be an easy one, I had a short look at it some time ago and figured out that it is not so easily solved.

[2017-08-08 17:01] ofgulban opened #47 "gradient magnitude options"
Gradient magnitude can be computed in several ways:
- Central differences in the interior and first differences at the boundaries, aka [numpy.gradient](https://docs.scipy.org/doc/numpy/reference/generated/numpy.gradient.html)
- with [Sobel operator](https://en.wikipedia.org/wiki/Sobel_operator)
- with [Prewitt operator](https://en.wikipedia.org/wiki/Prewitt_operator)

We are currently using numpy.

[2017-08-09 18:33] ofgulban commented on #42
Actually, thinking about this a bit more, it might still be valuable to fix matplotlib 2 issues in the short term. I will have a look into this in more detail, for now it seems that ncut mode is effected the most.

[2017-08-10 15:59] ofgulban commented on #47
After reading a bit more about this ([reference 1](https://en.wikipedia.org/wiki/Sobel_operator#Alternative_operators), [reference 2](https://stackoverflow.com/questions/17078131/why-sobel-operator-looks-that-way)), I have implemented the 3D Scharr operator with appropriate scaling of the differences.

See the new comparisons with 2D histograms attached:
![animated](https://user-images.githubuserc

[2017-09-07 11:17] MSchnei opened #50 "Add environment.yml file"
Enables quick setup of conda environment, running:
conda env create -f environment.yml

[2017-09-07 11:17] MSchnei commented on #50
Like it has been done here:
https://github.com/janelia-flyem/gala

[2017-09-21 13:14] ofgulban commented on #45
I have integrated Travis (linux and osx), appveyor (for windows) and codecov, I think this can go into v1.3.0. @MSchnei we should aim for increasing the code coverage significantly for the next version.

[2017-09-21 14:33] ofgulban commented on #50
Done. We might want to figure out what to do for an extended evironment (eg. ncut) in the future.

[2017-09-21 14:33] #50 closed

[2017-09-21 17:05] ofgulban commented on #42
I had a look into this and decided to wait until matplotlib 2.1 release. It seems that there were some issues with alpha channels and they are addressed. In the meanwhile we should stick with matplotlib 1.5.3

[2017-09-21 17:12] ofgulban opened #52 "discarding zeros in the input image"
Brain images are most of the time masked (eg. brain extraction), I think it is more useful if we do not include exact zeros in 2D histograms.

I have made the changes which will be included in v1.3.0

[2017-09-21 17:12] #52 closed

[2017-09-21 17:13] #47 closed

[2017-09-21 17:13] #45 closed

[2017-09-25 17:51] ofgulban commented on #36
@ilkayisik @virtualmarioe I have added a rotate button in version 1.3.0 (currently in devel branch) right under cycle.
![animated](https://user-images.githubusercontent.com/4668327/30822949-eb23ee6a-a22a-11e7-9eee-9e8e79711e36.gif)

[2017-09-25 17:52] #36 closed

[2017-10-02 12:00] ofgulban commented on #42
Well, after having a look second time, I have figured what needs to be changed for matplotlib 2.0 compatibility. Changes are incorporated to segmentator v1.3.0. Earlier matplotlib versions are not compatible anymore.

[2017-10-02 12:00] #42 closed

[2017-10-02 12:02] ofgulban commented on #35
@ingo-m @MSchnei Could you check this problem at some point? Does is still exist after v1.3.0 on Mac?

[2017-10-02 12:03] ofgulban commented on #34
Does this problem still exist after segmentator v1.3.0?

[2017-10-02 12:04] ingo-m commented on #35
Ok I will check this.

[2017-10-02 12:09] ofgulban commented on #24
Closing issue because the branch is stale.

[2017-10-02 12:09] #24 closed

[2017-10-02 12:14] ofgulban opened #54 "Missing recommended community standards"
We need to add the following files to fulfill the recommended community standards:
- [ ] Code of conduct
- [ ] Contributing
- [ ] Issue of pull request template

[2017-10-02 12:36] ingo-m opened #55 "Rotate button does not work on Mac OS"
On Mac, the `Rotate` button does not work.

Tested with following system/environment configuration:

| Package    | Version |
|------------|---------|
| Mac OS     | 10.12.6.|
| numpy      |  1.11.3 |
| scipy      |  0.19.0 |
| matplotlib |   2.0.2 |
| nibabel    |   2.1.0 |

This is the output after loading an nii image and clicking the `Rotate` button:

[code]

[2017-10-02 12:44] ingo-m commented on #35
I tested this with the following system/environment configuration:

| Package    | Version |
|------------|---------|
| Mac OS     | 10.12.6.|
| numpy      |  1.11.3 |
| scipy      |  0.19.0 |
| matplotlib |   2.0.2 |
| nibabel    |   2.1.0 |

I was able to activate the Lasso, select a region in the 2D histogram, deactivate the Lasso again, and move the circle mask (is it still called like that?)

[2017-10-02 18:01] ofgulban commented on #55
This error comes up because you have used an outdated numpy version.

[2017-10-02 18:04] ofgulban commented on #35
This behavior is expected. Reset button resets depending on the mode. Switching back to lasso and pressing reset should clean the histogram. Do you think we should address this? Maybe we can change the reset button label depending on the mode (e.g. 'Reset Circle' -> 'Reset Lasso')

[2017-10-03 09:15] ingo-m commented on #35
Yes I think this is a good idea. The present behaviour is good and does not have to be changed. If the text in the button changes depending on mode as you suggested, this will make the user aware of the logic behind it. (Also, this is better than adding another button to avoid clutter.)

[2017-10-03 09:23] ingo-m commented on #55
Yes I can confirm this, after updating to numpy version 1.13.3 the problem does not occur any more.

[2017-10-03 09:23] #55 closed

[2017-10-31 16:10] ofgulban commented on #46
This is implemented in development branch and will be available in v1.3.1

[2017-10-31 16:10] #46 closed

[2017-10-31 16:13] ofgulban opened #59 "Export gradient magnitude image"
Add an option in command line interface to save gradient magnitude image.

[2017-11-19 01:11] cancan101 opened #62 "Use medpy for aniso_diff_3D"
medpy has a newer / cleaner version of the `aniso_diff_3D` function. See: http://loli.github.io/medpy/generated/medpy.filter.smoothing.anisotropic_diffusion.html#medpy.filter.smoothing.anisotropic_diffusion.

[2017-11-19 19:19] ofgulban commented on #62
Thanks for the suggestion Alex, we will have a look into this.

[2018-01-11 11:49] ofgulban commented on #59
Implemented in devel branch.

[2018-01-11 11:49] #59 closed

[2018-01-11 11:52] ofgulban opened #63 "Exclude zero voxels by default"
Provide an interface option to include zero voxels in the image from histogram and masking process, otherwise they will be excluded.

This is done to account for common brain extraction step.

[2018-01-11 11:53] ofgulban commented on #63
New flag is added to the interface:
`--include_zeros`

[2018-01-11 11:53] #63 closed

[2018-01-12 17:48] ofgulban opened #65 "pytest exits with error in appveyor"
It seems that pytest is somehow unable to see the correct environment in appveyor integration, however there are no errors in travis.

[2018-02-08 14:47] katjaq opened #66 "installation seems to have worked, error to run segmentator though"
Hi! I am working on MacOs. I cloned the repo and then followed the instructions – installing the requirements logged to my terminal that it found my scipy and some other modules, successfully uninstalled them, and installed them again in a newer version... looks like in the same place and everything should be fine.

The next installation / setup steps worked fine as well (console log looked fine),

[2018-02-08 18:46] ofgulban commented on #66
Thanks for the report, the issue is addressed with commit ee8f8db87e4627cbf8f793f5b490f7b082554292
We will soon merge it to the master and publish a new version.

[2018-02-08 18:46] #66 closed

[2018-02-12 13:25] ofgulban opened #68 "Add a scaling parameter governing gradient magnitude calculation"
It might be useful to provide users an option to determine the _scale of interest_. For instance a user might want to generate the gradient magnitude image calculated on a lower resolution (eg. 0.7 mm iso.) than the original data (e.g. 0.4 mm iso.).

I can see two ways of implementing such option for now:
1- Downsampling the input data to the desired scale.
2- Adjusting the gradient kernel to diff

[2018-02-12 13:51] ofgulban commented on #54
@ingo-m and @MSchnei could you have a look at the new `contributing.md` file ([here](https://github.com/ofgulban/segmentator/blob/devel/contributing.md)) and see if it is missing anything.

[2018-02-15 20:52] ofgulban commented on #68
I think I will go with using Deriche filter and allowing users to chose the alpha freely. The alpha parameter basically determines the smoothness of the estimated spatial gradients. Lower alpha values will be useful in <0.5mm data to estimate the gradients as if the image is in lower resolution (e.g. 0.7mm).

[2018-02-16 12:15] ofgulban commented on #65
It seems that the error went away after having python 3 compatibility. However now it seems to have a path problem with the `.c` file in setup.

[2018-02-16 12:16] #11 closed

[2018-02-16 12:20] ofgulban commented on #38
I think that adding too many truncation option will clutter the interface. Any type of thresholding can be done with other tools anyway. I am closing this issue.

[2018-02-16 12:20] #38 closed

[2018-02-16 12:22] ofgulban commented on #43
I do not see much use of this button for the main purpose of segmentator. In order not to clutter the interface I am not going to implement this until a useful use case appears.

[2018-02-16 12:22] #43 closed

[2018-02-16 12:26] ofgulban commented on #44
Probing the 2D histogram with circular mask or using image to histogram highlighting serves the same purpose. I am not going to implement this request until a case where probing and highlighting does not cover appears.

[2018-02-16 12:26] #44 closed

[2018-02-24 14:53] ofgulban opened #69 "Update wiki page 'controls' upon releasing the next version."
The selected matplotlib backend was making some of our controls misbehave. I have re-mapped the controls.

```q w e h``` to ```1 2 3 4``` for transparency options and probe highlighting

pressing `5` now shows the borders in image panel now.

[2018-02-24 16:48] ofgulban opened #70 "Implement nonlinear anisotropic filtering for noisy images"
A sophisticated image smoothing method might be useful to preprocess very noisy images. Considered options are:
1. Edge enhancing diffusion
2. Coherence enhancing diffusion

### References

- Weickert, J. (1998). Anisotropic diffusion in image processing. Image Rochester NY, 256(3), 170. <http://doi.org/10.1.1.11.751>

- Mirebeau, J.-M., Fehrenbach, J., Risser, L., & Tobji, S. (2015). Anisotropic

[2018-02-24 16:55] ofgulban commented on #33
I am closing this. It seems that there is no plan to implement it anytime soon and we can live without it.

[2018-02-24 16:55] #33 closed

[2018-02-24 19:50] ofgulban commented on #65
fixed with e8c2d4a6745db50d6953fcbba9ffcd9a6de75fd9

[2018-02-24 19:50] #65 closed

[2018-02-24 19:51] ofgulban commented on #62
I have removed this function with da50791647ca4aee1ed32a516296734281a2544d
Closing issue.

[2018-02-24 19:51] #62 closed

[2018-02-24 19:53] ofgulban commented on #62
@cancan101 thanks for your efforts though. I will keep checking medpy, seems like a cool project.

[2018-04-16 09:42] #68 closed

[2018-04-16 09:43] ofgulban commented on #26
This feature is now added as a button that only becomes visible in lasso mode.

[2018-04-16 09:43] #26 closed

[2018-04-18 18:23] ofgulban opened #74 "Streamline compositional data visualization"
Add utility functions and flags to command line interface to make compositional analysis interface more accessible.

- [x] [Compoda](https://github.com/ofgulban/compoda) dependency is already introduced for smoothing filters at version 1.5.0.
- [ ] Command line flags
- [ ] Compositional data tweaks to GUI (e.g. embedded primary axes)

[2018-04-18 18:32] ofgulban commented on #69
Done.

[2018-04-18 18:32] #69 closed

[2018-05-15 15:50] ofgulban commented on #34
@ingo-m could you have a look at this issue again after v1.5.0 release? Matplotlib had some updates in the meanwhile, and there were a few tweaks in the gui so maybe _(hopefully)_ the issue is gone by now :)

[2018-07-03 10:06] katjaq opened #76 "Can't make new version run"
Hello,

I was very happy using segmentator \ö/ great tool! However, I cannot seem to get the new version running.
I synced on the master branch, and followed the instructions in your ReadMe. All console logs seem happy, however, when trying to run segmentator, I get the following error:
[code]
my complete console log:
=================
Segmentator 1.5.2
=================
Default GUI is selected.
/

[2018-07-03 10:41] ingo-m commented on #76
@katjaq I think this is related to python 3.6. I just installed the latest version of segmentator (from branch master) on a macOS with High Sierra Version 10.13.5 in Python 2.7, and it works fine. Could you try in python 2.7? (I.e. create a conda environment with `conda create -n segmentator_env pip numpy scipy python=2.7`, followed by the regular installation steps, i.e. `pip install -r requireme

[2018-07-03 11:08] ingo-m commented on #76
I was wrong, it's not a python 3.6 issue, I just tried to reproduce the problem under Python 3.6.5 on mac (High Sierra Version 10.13.5) but the problem does not occur.

I suggest that you open a new terminal and try open segmentator (`segmentator /path/to/file.nii.gz`). If that still does not work, do `which segmentator` and post the output here.

(The path `/Users/katja/code/segmentator/segmentat

[2018-07-03 11:24] katjaq commented on #76
Heyy! Thank you so much, dear Ingo. That was it :D
```which segmentator``` was pointing to the right one
```/anaconda3/bin/segmentator``` – I needed to open a new terminal window after installation. I am sorry I didn't have this idea.

Many thanks for your fast feedback! It is all running fine now :)

Best wishes
katja

[2018-07-03 12:13] ofgulban commented on #76
Dear @katjaq and @ingo-m ,
Thanks a lot for the report and the fast solution :).
I have now put a workaround (in `devel` branch) that should prevent this from happening in the future.

[2018-07-03 12:21] katjaq commented on #76
:D you guys are fantastic!!
many thanks again!

[2018-07-30 12:31] ofgulban opened #77 "install issue on windows"
It seems that segmentator installation might exit with an error telling user to install something related to c++ in windows systems.

This issue is related to deriche filter implementation. I will investigate this further around september.

[2019-03-08 17:22] #77 closed

[2019-03-08 17:24] #6 closed

[2019-03-08 17:25] #39 closed

[2019-03-19 15:15] andrewtmorgan opened #78 "Unable to run segmentator_filters"
I am trying to run segmentator_filters, but my system is not able to find the config_filters module. I have tried adding the segmentator directory to $PYTHONPATH, but that didn't change things. Any help with this would be greatly appreciated.

Here is the traceback:

[code]

[2019-03-19 19:35] ofgulban commented on #78
Hi Andrew,

Thanks for the bug report. Could you try clone and install from [devel branch](https://github.com/ofgulban/segmentator/tree/devel) and try again?

Let me know it it still doesn't work.

[2019-03-19 19:41] ofgulban opened #80 "New Matplotlib version glitch"
It seems that with the newest matplotlib (v3.0.2) 2D histogram mask does not render correctly. It seems to be drawn behind histogram image.

This is not a big issue since the matplotlib version is fixed to 2.2.2 in `requirements.txt` but I need to fix this for the next release.

[2019-03-19 21:04] andrewtmorgan commented on #78
Hi Faruk,

Thanks for your message. Things look the same after having installed the development branch.

Is there any more info I can give you to help?

Thanks again,
Tyler

[2019-03-19 21:18] ofgulban commented on #78
Did you try it from a fresh virtual environment? Because I cannot replicate the error now.

[2019-03-19 21:20] ofgulban commented on #78
Nevermind I saw the what I have missed, I will push to devel soon.

[2019-03-19 21:28] ofgulban commented on #78
Oh, could it be the case that you did not do `git checkout devel` after cloning and before installing? Because I am pretty sure [this commit](https://github.com/ofgulban/segmentator/commit/c38ab7a87aa2a1bc1567bbba0e44f252ddb6e720) solves the issue.

[2019-03-19 21:35] andrewtmorgan commented on #78
Okay, yeah that was it. All good now!

[2019-03-19 21:35] #78 closed

[2019-03-19 21:36] ofgulban commented on #78
Great, thanks !

[2019-05-09 17:06] ofgulban opened #82 "Improve code coverage"
[![codecov](https://codecov.io/gh/ofgulban/segmentator/branch/master/graph/badge.svg)](https://codecov.io/gh/ofgulban/segmentator)

[2019-06-06 10:08] sitek opened #83 "Compoda not installed during setup"
After following the instructions in the README [here](https://github.com/ofgulban/segmentator#installation--quick-start), running `segmentator_filters {file}` resulted in `ModuleNotFoundError: No module named 'compoda'`.

Manually installing with `pip install compoda`, it now runs fine.

[2019-06-13 16:35] ravenep opened #84 "lasso behind histogram"
Hello,

I've had trouble with the selection roi always being presented behind the histogram so you can't really see where it is. Have tried on two systems and same issue,

CentOS 7
MacOS 10.12.6

Is this a setting I've missed? Or do you have any recommendations to fix this?

<img width="549" alt="Screen Shot 2019-06-13 at 5 28 57 PM" src="https://user-images.githubusercontent.com/12449573/59450314

[2019-06-14 09:27] ofgulban commented on #84
Hi Erika,

Thanks a lot for reporting this issue.

Could you post which version of matplotlib are you using? It would help me to replicate and fix this issue.

Faruk

[2019-06-14 09:29] ofgulban commented on #84
@MSchnei , if you have time could you check whether we can replicate this glitch? I will be traveling until monday.

[2019-06-14 09:34] ravenep commented on #84
Sure thing, for linux, matplotlib==3.1.0 and mac, matplotlib==3.0.3

Thanks!

[2019-06-14 10:44] ofgulban commented on #84
Thanks, this is same as #80 then. It is glitch that came with matplotlib version 3. I didnt have time to investigate it properly yet.

As a solution, I recommend you to install segmentator in a virtual python environment. If you have a look at [requirements.txt](https://github.com/ofgulban/segmentator/blob/master/requirements.txt) you will see that we have fixed matplotlib version to 2.0.2. Once y

[2019-06-14 11:52] ravenep commented on #84
Thanks for getting back. I tried using a virtual environment, but am still having the same issue. It was unhappy with using an older scipy (and numpy which seems to be a dependency), but I was able to get the recommended versions on compoda, matplotlib, and nibabel.

Packages inside virtual env,

compoda==0.3.3
cycler==0.10.0
matplotlib==2.0.2
nibabel==2.1.0
numpy==1.16.4
pyparsing==2.4.0
python-d

[2019-06-15 15:59] ingo-m commented on #84
Just to make sure that this is not (another) mac OS specific issue: I cannot reproduce the issue on mac OS 10.14.5, with Segmentator 1.5.2, and Python 3.6.7, given the following dependencies (selection):

[code]
<img width="1106" alt="segmentator" src="https://user-images.githubusercontent.com/10960892/59553580-ff251f00-8f96-11e9-93f7-dd7d3df06741.png">

[2019-06-15 16:26] ingo-m commented on #84
It turns out that segmentator's requirements cannot be installed in python 3.7 (numpy installation fails). This is not a big surprise, because segmentator is currently only tested under Python 3.6 & Python 2.7. I suggest you do the following:

[code]

I just tested this (again on mac OS 10.14.5), and the issue does not occur.

<img width="1102" alt="Screenshot 2019-06-15 at 18 17 24" src="https://

[2019-06-15 16:36] ingo-m opened #85 "Version number"
@ofgulban: When checking #84 I downloaded the zip archive of the latest release as recommended on segmentator's [github front page](https://github.com/ofgulban/segmentator#installation--quick-start). This should install version 1.5.3 (and I think it does), but at commandline, during segmentator startup, it prints `Segmentator 1.5.2`.

This is probably because `version='1.5.2'` in `setup.py`. Makin

[2019-06-15 17:23] ravenep commented on #84
that worked! thanks for your help!

-e

[2019-06-15 17:23] #84 closed

[2019-06-18 08:50] ofgulban commented on #84
@ravenep & @ingo-m , thanks a lot for solving this issue when I was away 🎉 . I will still investigate this. Probably i should make use of ‘zorder’ flag while updating plots to prevent this glitch.

@ingo-m maybe we should incorporate your installation suggestions to the wiki installation page.

[2019-06-18 08:57] ofgulban commented on #85
Thanks, I have updated the version number in setup.py in devel branch. I will actually have a look at this draw order issue and release 1.5.4 afterwards.

[2019-06-18 08:58] ofgulban commented on #83
Thanks @sitek , I will incorporate this in the next release.

[2019-09-26 10:36] #85 closed

[2019-09-26 12:20] ofgulban commented on #83
Done.

[2019-09-26 12:20] #83 closed

[2019-09-26 12:20] ofgulban commented on #80
Seems to be solved by using `zorder` argument.

[2019-09-26 12:20] #80 closed

[2019-09-26 12:21] ofgulban commented on #29
I am closing this until one day if we decide to pursue this again.

[2019-09-26 12:21] #29 closed

[2019-10-04 12:40] ofgulban opened #86 "Fix CI error that appeared with v1.6.0"
Errors seem to be related to dependency updates.

[2019-10-21 16:04] katjaq opened #87 "calling segmentator causes system crash (mac-os)"
hello dear Faruk,

after lots of enjoyable work using your awesome segmentator, it now crashes my entire system when calling it. (and I see the login screen and my computer is completely restarted, all applications had been shot down)
Have you come across this? It may have to do with a mac update? It happened using my old segmentator installation, and it also happens now that I downloaded and inst

[2019-10-22 08:56] ofgulban commented on #87
Thanks for the report @katjaq . Sounds mysterious.

@ingo-m & @MSchnei did you encounter this after the mac update?

[2019-10-22 09:02] ofgulban commented on #87
@katjaq could you post the complete log?

[2019-10-24 20:14] katjaq commented on #87
hello dear @ofgulban , thanks so much for your replies. I only have system log, not a specific error log from segmentator though. When I call it, it stops right there and then everything crashes before it ever gets to print anything to the console.
I will definitely try your suggestion and hope it runs :) Thanks !! I am still on Mojave... if it fails, I will update the Mac and try again ^^ and rep

[2020-02-16 00:51] bakerhassan opened #88 "Cannot reopen nii file created be Segmentator"
I edited an nii MRI file and then I exported it using `Export nifti` button, then I tried to open the saved file using Segmentator but it gives the following error:

[code]

I also tried to `gunzip` the resulted file but also didn't work out.

[2020-02-16 10:06] ofgulban commented on #88
Hi @bakerhassan ,

Thanks for opening this issue and reporting the problem nicely. The `Export Nifti` button saves a binary nifti image `*_label_0.nii.gz`. So I have 2 points about this:
1. You would not want to open this binary nifti image (a.k.a mask, a.k.a `*_label_0.nii.gz`) in Segmentator because it only consists of zeros and ones.
2. I am guessing that you want to open your original nifti fi

[2020-02-18 14:32] bakerhassan commented on #88
Yes, that was helpful! Thanks

[2020-02-18 14:32] #88 closed

[2020-03-13 16:04] katjaq commented on #87
hello! Thanks for suggesting devel branch – I tried, and it crashes everything :.( BUT: it crashes fater printing a few lines on console :D we are getting one step further here :D

I am on macOS Mojave v 10.14.6.
I did the setup on devel branch using the 2 setup steps you specify in your ReadMe. They both look happy, no errors, first (requirments) tells me that everything is already satisfied, sec

[2020-03-14 14:47] ofgulban commented on #87
Hi Katja, thanks for the report :) . Yes you tried the right branch. Can you send me the exact command you have used that causes the crash?

[2020-03-14 14:51] ofgulban commented on #87
Sounds like a Matplotlib backend related problem. One thing comes to my mind is to try different matplotlib backend options with the following segmentator flag:
[code]

[2020-03-23 16:34] ofgulban commented on #87
@katjaq just a reminder in case if github notifications did not work :)  :arrow_up:

[2020-03-23 17:20] katjaq commented on #87
Hello! Thank you, dear @ofgulban for reaching out to me again. As it crashes my entire system, it is not very often a convenient moment to test that – and get kicked out from anything else you are running :) I am sorry , that makes it a bit scattered that I get back to you only every once in a while :/
I haven't yet tried the options you proposed – just because I couldn't afford it yet ;) But I ve

[2020-03-24 10:39] ofgulban commented on #87
Hey @katjaq no worries I understand :) Test it whenever you can, no rush.

I suspect that this behavior comes from the matplotlib backend, so I wonder: Can you plot figures as usual using Matplotlib? This might give me some clue.

[2020-07-09 23:00] sitek commented on #87
Hi @ofgulban – I'm having this same issue (also on 10.14.6 Mojave), and using the `--matplotlib_backend` flag on the `devel` branch has the same result.

As far as I know, matplotlib otherwise works fine on this machine.

[2020-07-10 08:33] ofgulban commented on #87
@sitek thanks for the report. Can you try running segmentator with `--matplotlib_backend Qt5Agg`?

[2020-07-10 14:37] sitek commented on #87
Ah! once I installed PyQt5, `--matplotlib_backend Qt5Agg` seems to work.

[2020-07-10 15:02] sitek commented on #34
hi @ofgulban – issue seems to still be here. using Segmentator 1.6.1 devel branch on Mac OS 10.14.6.

Paired with the no middle click on Mac problem, I can't make the circle mask larger (just smaller).

[2020-07-10 17:57] ofgulban commented on #87
Ok good to know! I will put something to switch to that when the OS is mac, and/or give some warnings. Also see [this page](https://github.com/ofgulban/segmentator/wiki/Controls) for the additional keyboard shortcuts for the left panel control.

@katjaq see the answer below, should work for you too.

[2021-02-12 09:45] TreshUp opened #90 "Math problem in gradient calculation. Deriche filter."
Hello. i'm currently studying 3D implementation of Deriche filter and to my mind, i found a mistake in coefficients calculation.
From your code (deriche_3D.pyx):
`S = alpha*(S_p - S_n)`
In the articles [1], [2] Deriche didn't use _alpha_. but _-1 * (1 - exp(-alpha)) ^ 2_.
I checked your code, in order to find some convertions of _alpha_, but didn't found anything.
I hope I'm mistaken. Your answer

[2021-02-12 10:42] ofgulban commented on #90
Hi @TreshUp , thanks for looking into this carefully and reporting this issue. Appreciated.

I had a quick look at `deriche_3D.pyx` and Monda, Deriche, Rocchisani 1991. It seems that indeed I did not apply the alpha conversion in their **Eq. 10**. Do you mind fixing this and contributing or would you rather leave it to me?

[2021-02-12 15:06] TreshUp commented on #90
@ofgulban Sorry for long answer. After creating this issue, i've compared the 2D and 3D Deriche filters and found a
typo in [1].
In [3] (**Eq. 47, 50**) When you apply derivative filter, you sum y_p and y_n, but in 3D they subtract them.
As i understand the 3D filter is the extension of 2D filter, so the equations must be similar.
So, to my mind the correct calculation in your file is
`S = -1 * (1

[2021-02-15 09:58] ofgulban commented on #90
Thanks @TreshUp , I will fix this.

[2021-02-15 09:59] ofgulban commented on #82
no plans or time to invest in this, closing.

[2021-02-15 09:59] #82 closed

[2021-02-16 06:45] TreshUp commented on #90
Nice, good bye)